.item-list-style() {
  .item-list {
    .resource-title {
      margin: 0;
      position: relative;
      .name {
        width: 100%;
        text-transform: capitalize;
        margin-left: 85px;
        font-size: 50px;
        padding: 10px 0;
        display: block;
        color: fade(@mainColor, 80);
      }
      i {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        font-size: 80px;
        color: fade(@textColor, 20);
      }
    }

    .item-preview {
      .item-preview-listing {
        margin-top: 15px;
        margin-bottom: 0;
        .item-preview-listing-element {
          margin-bottom: 30px;
          background: fade(@bgColor2, 40);
          border-radius: 4px;
          padding: 15px;

          h2 {
            margin: 0 0 10px 0;
            font-size: 22px;
            text-align: center;
            a {
              color: @textColor2;
              text-decoration: none;
            }
          }

          .item-property-listing {
            .item-property-listing-element {
              background: fade(@bgColor, 50);
              border-radius: 4px;
              padding: 15px;
              margin-bottom: 10px;

              .item-property-row {
                .item-property-label {
                  color: @bgColor2;
                  font-size: 18px;
                  padding-bottom: 3px;
                  margin-bottom: 3px;
                }
                .item-property-value {
                  color: @textColor;
                }
                text-overflow: ellipsis;
              }
            }
          }
        }
      }
      .view-more {
        a {
          display: block;
          text-align: center;
          border-radius: 4px;
          background: @bgColor2;
          color: @textColor2;
          margin-top: 20px;
          padding: 5px 0;
          text-transform: capitalize;
          text-decoration: none;

          &:hover {
            background: fade(@mainColor, 15);
            color: fade(@mainColor, 100);
          }
        }
      }
    }
  }
}
