.sidebar-style() {
  @sidebar-size: 200px;

  .sidebar-layout-wrapper {
    display: flex;
    align-items: stretch;
    .without-sidebar {
      display: none !important;
      @media @only-xs {
        display: block !important;
      }
    }

    &.active {
      .without-sidebar {
        display: block !important;
        @media @only-xs {
          display: none !important;
        }
      }
    }

    .sidebar {
      min-width: @sidebar-size;
      max-width: @sidebar-size;
      min-height: 100vh;
      transition: 0.6s;

      .loader {
        width: 100%;
        padding: 30px;
        i {
          margin: 0 auto;
          font-size: 45px;
          line-height: 45px;
          width: 40px;
          height: 40px;
        }
      }

      @media @only-xs {
        margin-left: -@sidebar-size;
      }

      &.active {
        margin-left: -@sidebar-size;

        @media @only-xs {
          margin-left: 0;
        }
      }

      ul.navigation-links {
        margin-bottom: 0;
        // TODO: code duplication...in home...
        li {
          a {
            text-decoration: none;
            &.active {
              .item {
                background: fade(@mainColor, 20);
                .name {
                  color: fade(@mainColor, 80);
                }
              }
            }
            .item {
              background: fade(@bgColor2, 40);
              border-radius: 4px;
              position: relative;
              margin-bottom: 5px;
              .name {
                width: 100%;
                text-align: center;
                text-transform: capitalize;
                font-size: 30px;
                padding: 20px 0;
                display: block;
                color: @bgColor2;
              }
              i {
                display: block;
                position: absolute;
                top: 7px;
                left: 5px;
                font-size: 80px;
                color: fade(@textColor, 8);
              }
            }
          }
        }
      }
    }
  }
}
