// @import './utils/normalize.less';
// @import './utils/reset.less';
@import './utils/media-query.less';
@import './utils/mixin.less';

@import './error.less';
@import './loader.less';
@import './sidebar.less';
@import './fixed-header.less';
@import './home.less';
@import './item-list.less';

html {
  height: 100%;
  width: 100%;
  overflow: hidden;

  //Force Side Theme Colors
  &.light {
    @bgColor: #dedce4;
    @bgColor2: #a9a2a3;
    @mainColor: #018acc;
    @textColor: #130c0e;
    @textColor2: #75696d;
    @headerShadowColor: rgba(57, 63, 72, 0.3);
    @loaderIcon: '\F04F';

    background: @bgColor;
    .style();
  }
  &.dark {
    @bgColor: #1a1112;
    @bgColor2: #70787d;
    @mainColor: #bd4422;
    @textColor: #e5e2de;
    @textColor2: #bba79c;
    @headerShadowColor: fade(@bgColor2, 30);
    @loaderIcon: '\F04E';

    background: @bgColor;
    .style();
  }
}

//WebSite Style
.style() {
  body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    background: @bgColor;
    color: @textColor;
    a {
      color: @textColor;
    }
  }

  .error-style();
  .loader-style();
  .sidebar-style();
  .fixed-header-style();
  .home-style();
  .item-list-style();
}
