@import './utils/normalize.less';
@import './utils/reset.less';
@import './utils/media-query.less';
@import './utils/mixin.less';

@import './loader.less';
@import './sidebar.less';
@import './fixed-header.less';
@import './home.less';

// General
html,
body {
  font-family: 'PT Sans', sans-serif;
  height: 100%;
  overflow: hidden;
}

//Force Side Theme Colors
.light {
  @bgColor: #dedce4;
  @bgColor2: #a9a2a3;
  @mainColor: #018acc;
  @textColor: #130c0e;
  @textColor2: #41363a;
  @headerShadowColor: rgba(57, 63, 72, 0.3);
  @loaderIcon: '\F04F';
  .style();
}
.dark {
  @bgColor: #1a1112;
  @bgColor2: #70787d;
  @mainColor: #bd4422;
  @textColor: #e5e2de;
  @textColor2: #bba79c;
  @headerShadowColor: fade(@bgColor2, 30);
  @loaderIcon: '\F04E';
  .style();
}

//WebSite Style
.style() {
  .app {
    position: absolute;
    min-height: 100%;
    height: auto !important; /* cross-browser */
    height: 100%; /* cross-browser */
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    background: @bgColor;
    color: @textColor;
    a {
      color: @textColor;
    }
  }

  .loader-style();
  .sidebar-style();
  .fixed-header-style();
  .home-style();
}
