.Navigation {
  padding-top: 25px;
  text-transform: uppercase;
}

.Navigation.full {
  border-right: 1px solid #4c596f;
}

.Navigation a {
  text-decoration: none;
  text-align: center;
  display: block;
  color: #9ba0a8;
  padding: 5px 0px;
  margin-bottom: 10px;
}

.Navigation a i {
  display: block;
  font-size: 30px;
}

.Navigation a:first-child i {
  font-size: 60px;
  line-height: 50px;
}

.Navigation a span {
  display: inline-block;
  vertical-align: middle;
}

.Navigation a:hover,
.Navigation a:focus,
.Navigation a.active {
  color: #3f74ae;
}
