.Navigation {
  text-transform: uppercase;
}

.Navigation-list {
  list-style: none;
}

.Navigation-list-item {
  text-decoration: none;
  text-align: center;
  display: block;
  color: #9ba0a8;
  margin-bottom: 30px;
}

.Navigation-list-item:hover,
.Navigation-list-item:focus,
.Navigation-list-item.active {
  border-color: #3f74ae;
  color: #3f74ae;
  text-decoration: none;
  transition: 0.6s;
}

.Navigation-list-item i {
  display: block;
  font-size: 30px;
}

.Navigation-Card .Navigation-list-item {
  border: 1px solid #9ba0a8;
  border-radius: 5px;
  padding: 15px;
}
